 
.title{
    position: relative;
    align-content: center;
    font-size: 90px;
    text-align: center;
    width: 100%;
    margin: 0;
    color: rgb(152, 152, 143);
}

body{
    margin: 0;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 30px white;
}
.title img{
    width: 100%;
    height: 380px;
}
.container2{
    padding-left: 150px;
    padding-right: 150px;
    font-size: large;
}

.showroom{
    display: flex;
    flex-direction: column;
}
.showroom div{
    border: solid black 2px;
    padding: 20px;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
}

p{
    font-size: 19px;
}


.description {
    flex: 1;
    padding-right: 20px;
    display: inline-block;
    
}

.image {
    flex: 1;   
    width: 10%;
    height: auto;
}

p {
    font-size: 20px;
}

#vm1 {
    padding: 10px;
    margin: 50px;
    background-color: rgb(243, 239, 218);
    transition: transform 0.3s;
}

#vm2 {
    padding: 10px;
    margin: 50px;
    margin-top: 1px;
    background-color: rgb(247, 246, 216);
    transition: transform 0.3s; 
}

.p1 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}

#vm1:hover, #vm2:hover {
    transform: scale(1.1); 
}